
<h1>Recipe Details</h1>

<div>
    <p>Preparation Time: <%= ((Time.current - @recipe.preparation_time.to_time) / 1.hour).to_i %> hr</p>
    <p>Cooking Time: <%= ((Time.current - @recipe.cooking_time.to_time) / 1.hour).to_i %> hr </p>
    <P> <%= @recipe.description %> </p>
</div>

<div>
<%# form for toggle public/private %>
</div>

<% if !@recipe.public? && user_signed_in? %>
<div class="flex justify-between">
    <%= link_to "Generate shopping list" , details_recipe_path(@recipe), class: "border border-blue-400 px-2 py-1 hover:bg-neutral-300" %>

    <%= button_to "Add ingredient" , '/', class: "border border-blue-400 px-2 py-1 hover:bg-neutral-300" %>
</div>
<% end %>

<div>
<table class="w-full text-center border-separate border-spacing-4">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.price %></td>
          <% if !@recipe.public? && user_signed_in? %>
          <td class="bg-red-600 text-white rounded-lg"><%= button_to "Delete", "/recipes/destroy/#{food.id}", method: :delete, data: {confirm: "Are you sure?"} %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>