<h1>Hello food </h1>

<%= link_to "Add Food", '/foods/new' %>

<% @foods.each do |food| %>
    <ul>
        <li class="text-red-600" ><%= food.name %></li>
        <li><%= food.measurement_unit %></li>
        <li><%= food.quantity %></li>
        <li><%= food.price %></li>
    </ul>
<% end %>