<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= render 'shared/user_links' %>
      <% flash.each do |type, msg| %>
        <div class="ms-5 me-5 alert notice alert-success" role="alert">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
