<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-950">
    <main class="w-3/4 mx-auto">
      <%= render 'shared/user_links' %>
      <% flash.each do |type, msg| %>
        <div class="rounded border border-solid border-2 shadow-md my-5 p-5" role="alert">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
